.Admin_dash_container {
  position: absolute;
  top: 70px;
  top: 70px;
  left: 250px;
  min-height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  flex-wrap: wrap;
}
.Admin_dash_container .Dash_text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px !important;
}

.sidebar.close ~ .Admin_dash_container {
  left: 78px;
  /* height: 100%; */
  width: calc(100% - 78px);
}
body.dark .Admin_dash_container .text {
  color: var(--text-color);
}

.dash_card {
  width: 100%;
  /* height: 400px; */
  background-color: #fff;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 10px;
}

.dash_card_orders {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 10px;
}

.Card_css {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.Orders_container {
  padding: 1em 1em 1em 1em !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Orders_filds {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Card_layout {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-width: 0px;
  border-radius: 25px;
}
